<div class="container">
    <div class="section_marg">
        <div class="mahasin_banner">
            <a href="{{component.url_ref}}">
                <img src="{{component.mahasin_banner_img}}" loading="lazy">
            </a>
        </div>
    </div>
</div>



